* {
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  margin: 0;
}

/* Util */

.gray {
  color: gray;
}

.bold {
  font-weight: bold;
}

/* Nav */

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 4px 10px #bebdbd6b;
}

.nav-logo {
  max-width: 100%;
}

/* Hero */

.hero-component {
  margin: 5%;
}

.hero-img {
  align-content: center;
}

.hero-img img {
  margin: 10%;
  max-width: 80%;
}

.hero-lead {
  font-weight: 600;
  font-size: 36pt;
}

.hero-body {
  font-weight: lighter;
  font-size: 16pt;
}

/* Card */

.card-component {
  margin: 5%;
  font-size: 12pt;
}

.card-photo {
  max-width: 176px;
  border-radius: 9px;
}

.card-stats {
  display: flex;
  align-items: center;
}

.card-star {
  height: 14px;
}